@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');



body {
    font-family: "Quicksand", serif; 
}

.body {
    max-width: 1180px;
    margin: 0 auto;
}


/* sherd style */
.display-flex {
    display: flex;
}

.btn-primary {
    color: white;
    background-color: #FEA301;
    border: 1px solid #FEA301;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 60px;
    border-radius: 12px;
}

.btn-secendary {
    background-color: black;
    border-radius: 12px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 10px 47px;
}

.color-1 {
    color: #FEA301;
}

.color-2 {
    color: #01ACFD;
}

.color-3 {
    color: #8700FF;
}

.color-4 {
    color: #05D4DF;
}

.description {
    font-size: 1rem;
    font-weight: 300;
    color: rgba(128, 128, 128, 1);
}

.section-title {
    font-size: 2.8rem;
    font-weight: bold;
    color: #000000;
    text-align: center;
    /* margin-top: 60px;
     margin-bottom: 80px;    */
}


/* navber-styles */
.navber {
    justify-content: space-between;
    align-items: center;

}

.nav_icon {
    display: flex;
    gap: 5px;
}

.nav_title {
    font-size: 32px;
    font-weight: bold;
}

.brand-title {
    font-size: 2rem;
    font-weight: bold;
    color: #111111;
}

.img1 {
    height: 62px;
    width: 52px;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
    font-size: 20px;
    font-weight: bold;
    padding: 16px;
}

.nav-link {
    text-decoration: none;
}

.bars {
    display: none;
}

/* banner-styles */
.banner {
    gap: 50px;
    align-items: center;
}

.banner-container {
    width: 640px;
    /* padding: 24px 0; */
    gap: 24px;
}

.banner-title {
    font-size: 3.5rem;
    font-weight: bold;
}

.banner-discription {
    font-size: 20px;
    font-weight: 400px;
    color: black;
}

.banner-img {}

/* skills section styles */

.skills-container {
    gap: 28px;
}

.skill {
    padding: 40px;
    box-shadow: 0px 0px 28px 1px rgba(0, 0, 0, 0.05);
    text-align: center;
    border-radius: 18px;
}

.skill-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #202020;
}

.more-option {
    font-size: 1rem;
    font-weight: 400px;
}

.icons {
    display: flex;
    gap: 10px;
    margin-top: 60px;
    margin-bottom: 80px;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 60px;
    height: 60px;
    background-color: #FEA301;
    border-radius: 30px;
    border: 1 solid #FEA301;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

/* storie styles */
.our-stories {
    gap: 20px;
}

.stories {
    box-shadow: 0px 0px 28px 1px rgba(0, 0, 0, 0.05);
    border-radius: 16px;

    /* text-align: center; */

}

.story {
    /* position: absolute; */
}

.stories-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

}

.stories-card {
    box-shadow: 0px 0px 28px 1px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
}

.stories-padding {
    padding: 20px
}

.story_div {
    padding: 30px
}



.image {
    width: 100%;
    height: auto;
  border-radius: 7px;
}
.card-img {
    border-radius: 6px;
}

.title {
    font-weight: bold;
    font-size: 1rem;
    color: #000000;
    /* padding: 20px 37px 28px 37px; */
}

.btn {
    border-radius: 48px;
    font-size: 1rem;
    color: white;
    padding: 10px 20px;
  
    border: 1px solid #95B226;
    background-color: #95B226;
}

.btn-1 {
    background-color: #8700FF;
}

.btn-2 {
    background-color: #FEA301;
}

.btn-3 {
    background-color: red;
}

.btn-4 {
    background-color: turquoise;
}

.last-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 60px;
}

/* footer styles */

.footer {
    background-color: #01ACFD;
    justify-content: space-around;
    padding: 130px 230px 175px 140px;

}

.footer-title {
    font-size: 2.6rem;
    font-weight: bold;
    color: #FFFFFF;
}

.footer-description {
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
}

.keep-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;

}

.footer-education {
    width: 400px;
}

/* .about{
   margin-bottom: 20px;
} */
.list-item {
    list-style: none;
    line-height: 30px;

}

/* media queary */

@media screen and (max-width:578px) {
    .brand-title h2 {
        display: none;
    }

    ul.nav-links {
        display: none;
    }

    button.btn-primary {
        display: none;
    }

    .body {
        width: 100%;
    }

    .banner {
        gap: 50px;
        flex-direction: column-reverse;
        align-items: center;
    }

    .bars {
        display: block;
        margin-right: 10px;
        font-size: 30px;
    }

    .banner-img {
        width: 100%;
    }

    .banner-container {
        width: 100%;
        text-align: center;
    }

    .banner-title {
        font-size: 2.5rem;
        font-weight: bold;
    }

    .skills-container {
        flex-direction: column;
    }

    .stories-container {
        text-align: center;
        gap: 10px;
        padding: ;
    }

    .stories {
        display: none;
    }

    .stories-card {
        width: 200px;

    }

    .stories-card img {
        width: 100%;
    }

    .footer-description {
        width: 370px;
    }

    .icons {
        display: none;
    }
    .btn{
        font-size: 12px;
    }





    .footer {
        padding: 30px;
        flex-direction: column;
        margin-bottom: 800px;
    }

}